/* Estilos Generales */
body {
    font-family: "Arial", sans-serif;
    background-color: #f8f3e6;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos del Encabezado */
  header {
    background-color: #f7d6d2;
    padding: 20px 0;
  }
  
  .navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    display: inline;
  }
  
  .navbar a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover {
    background-color: #333;
    color: #f7d6d2;
  }
  
  /* Estilos de la Sección Inicio */
  #inicio {
    background-image: url("fondo.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: zoomInOut 5s infinite alternate;
  }
  
  @keyframes zoomInOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  #inicio h1 {
    font-size: 48px;
    text-align: center;
    color: #f7d6d2;
    text-shadow: 2px 2px 4px #d2695a;
  }
  
  #inicio p {
    font-size: 24px;
    text-align: center;
    color: #f7d6d2;
    text-shadow: 2px 2px 4px #d2695a;
  }
  
  .cta-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #d2695a;
    color: #f7d6d2;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #f7d6d2;
    color: #d2695a;
  }
  
  /* Estilos de la Sección Donaciones */
  #donaciones {
    background-color: #f7d6d2;
    padding: 60px 0;
  }
  
  #donaciones h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px 4px #d2695a;
  }
  
  .donation-options {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .donation-card {
    width: 350px;
    padding: 20px;
    background-color: #d2695a;
    color: #f7d6d2;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .donation-card:hover {
    transform: scale(1.05);
  }
  
  .donation-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #333;
  }
  
  .donation-card p {
    font-size: 18px;
  }
  
  /* Estilos de la Sección Proyectos */
  #proyectos {
    background-color: #f7d6d2;
    padding: 60px 0;
  }
  
  #proyectos h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px 4px #d2695a;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fce4ec;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
  }
  
  .project-card img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 4px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .project-card:hover img {
    border-color: #ffbb00;
    transform: scale(1.05);
  }
  
  .project-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffbb00;
  }
  
  .project-card p {
    font-size: 16px;
    color: #333;
  }
  
  .project-card::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #f8f3e7;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .project-card:hover::before {
    opacity: 1;
  }
  
  
  /* Estilos de la Sección Contacto */
  #contacto {
    background-color: #f7d6d2;
    padding: 60px 0;
  }
  
  #contacto h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    text-shadow: 2px 2px 4px #d2695a;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    color: #000;
    background-color: #f7f1e6;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #d2695a;
    color: #f7d6d2;
    text-decoration: none;
    font-size: 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #f7d6d2;
    color: #d2695a;
  }
  
  /* Estilos del Pie de Página */
  footer {
    background-color: #f7d6d2;
    padding: 20px 0;
    text-align: center;
    color: #333;
    font-size: 14px;
  }
  
  